body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;


}
.navbar{
    width: 100%;
    display: flex;
    background-image: linear-gradient(#11B2FB,white);
    position: fixed;
}
.nav-name{
    width: 70%;
    font-size: 20px;
    padding: 10px;
    color:white;
}

.nav-item{
    margin-top: 50px;
    
}
.nav-item a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    font-weight: 800;
    margin-right: 30px;

    
}
.section-1{
    display: flex;
    padding-top: 60px;
    

}
.section-1 h1{
    font-size: 50px;
    font-weight:bolder;
}
.section-1 p{
    margin-bottom: 40px;
}
.section-1 span{
    color:#12B5FC;
}
.section-1 a{
    text-decoration: none;
    background-image: linear-gradient(blue,skyblue);
    padding: 20px 40px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 25px;
    
}
.first-left{
    width:50%;
    margin-left: 20px;
    margin-top: 300px;
    padding: 40px;

    
}
.first-right img{
    width:100%;
    height: 100vh;
    
}

.section-2{
    background-image: url(images/banner.jpg);
    display: flex;
    margin-bottom: 150px;
}

.second-left{
    width: 50%;
    margin-left: 400px;
}
.second-right{
    width:50%;
    text-align: center;
    margin-top: 50px;
}
.second-right h1{
    color:teal;
    font-size: 50px;

}
.second-right p{
    margin-bottom: 40px;
}
.second-right a{
    text-decoration: none;
    background-image: linear-gradient(blue,skyblue);
    padding: 20px 40px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 25px;
}
.section-3{
    text-align:center;
}
.section-3 h1{
    color:steelblue;
    font-size: 60px;
}
.box{
    display:flex;
    
}

.box-1{
    width: 100%;
    border:5px solid white;
    border-radius: 40px;
    margin:40px;
    padding: 30px;
    box-shadow: -2px 1px 19px 7px grey;
}
.box-1 img{
    width: 100%;
}
.bottom-box{
    display: flex;
    margin: 50px;
    border: 1px solid white;
    box-shadow: -1px 2px 18px 5px grey;;
    text-align: center;
}
.bottom-box span{
    margin:10px;
    width:33.34%;
}
.footer{
    padding:50px;
    text-align: center;
    background-color:gray;
}
.footer span{
    color:#0000ff;
}


